@page "/controlstest"
@namespace MAUIsland.A

<h1>New Form</h1>

<p role="status">Current count: @ViewModel.Counter</p>

<button class="btn btn-primary" @onclick=@OnCounterButtonClicked>Click me now</button>